header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
#header-container {
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.lr-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lr-links > div {
    display: flex;
    justify-content: center;
    width: 70px;
}
#header-logo-container {
    display: flex;
    justify-content: center;
}
#header-container > div {
    width: 25%;
}
header a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    
}
header a:hover {
    font-size: 20px;
}
#header-logo {
    font-family: 'Bacasime Antique', serif;
    text-decoration: none;
    color: white;
    font-size: 65px;
}